<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="at365.Watch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <at365.Watch.Properties.Settings>
            <setting name="Monitor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Alignment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Visible" serializeAs="String">
                <value>True</value>
            </setting>
        </at365.Watch.Properties.Settings>
    </userSettings>
</configuration>